<div class="content">
  <div class="encabezado-modulo">
    <div class="module-title">
      <h2>Categorías</h2>
    </div>
    <div class="btn-add-container">
      <button class="btn btn-add">Añadir Categoría</button>
    </div>
  </div>
  <div class="filtros-container">
    <div class="filter-title">
      <h3>Filtrar Resultados (3)</h3>
    </div>
    <div class="filter-elements">
      <label>Buscar</label>
      <form class="form-search" id="form-search">
        <input type="text" name="buscar" id="Buscar Input" placeholder="Nombre">
        <button type="submit" class="search-btn" id="search"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="orderByEvent">
            <span class="orderBy" column="categorias.nombre" direction="asc">Categoría</span>
          </th>
          <th scope="col" class="orderByEvent">
            <span class="orderBy" column="categorias.status" direction="asc">Status</span>
          </th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody id="table-content">
        <tr>
          <td>Tees</td>
          <td>
            <label class="switch" for="statusToggle">
              <input id="statusToggle" class="ok" type="checkbox">
              <span class="slider round"></span>
            </label>
          </td>
          <td class="action-icons">
            <i class="fa-solid fa-pen"></i>
            <i class="fa fa-trash"></i>
          </td>
        </tr>
        <tr>
          <td>Hoodies</td>
          <td>
            <label class="switch" for="statusToggle">
              <input id="statusToggle" class="ok" type="checkbox">
              <span class="slider round"></span>
            </label>
          </td>
          <td class="action-icons">
            <i class="fa-solid fa-pen"></i>
            <i class="fa fa-trash"></i>
          </td>
        </tr>
        <tr>
          <td>Slides</td>
          <td>
            <label class="switch" for="statusToggle">
              <input id="statusToggle" class="ok" type="checkbox">
              <span class="slider round"></span>
            </label>
          </td>
          <td class="action-icons">
            <i class="fa-solid fa-pen"></i>
            <i class="fa fa-trash"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
