<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2>Productos</h2>
      <a routerLink="/products/new" class="btn btn-primary">Añadir Nuevo Producto</a>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Marca</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.name }}</td>
            <td class="product-img">
              <img *ngIf="product.image" [src]="getProductImageUrl(product.image)" alt="Product Image" class="img-thumbnail" style="width: 100px;">
            </td>
            <td>{{ product.brand }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.price | currency }}</td>
            <td class="actions">
              <a [routerLink]="['/products/edit', product.id]" class="btn btn-warning btn-edit">Editar</a>
              <button (click)="openConfirmDeleteDialog(product)" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
