  <div class="modules">
    <nav class="d-md-block sidebar modules-container">
        <div class="module">
          <ul class="nav flex-column">
            <li class="nav-item active">
              <a class="nav-link active" aria-current="page" href="#">Categorías</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Marcas</a>
            </li>
          </ul>
        </div>
      </nav>
  </div>




