<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2>{{ productId ? 'Editar Producto' : 'Añadir Nuevo Producto' }}</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Nombre del Producto</label>
          <input id="name" formControlName="name" class="form-control" placeholder="Ingresa el Nombre del Producto." />
        </div>
        <div class="form-group">
          <label for="image">Imagen Principal del Producto</label>
          <input type="file" id="image" (change)="onFileChange($event)" class="form-control" name="image"/>
          <img *ngIf="previewUrl" [src]="previewUrl" alt="Product Image Preview" class="img-thumbnail mt-2"/>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="brand_id">Marca</label>
            <select id="brand_id" formControlName="brand_id" class="form-control">
              <option value="" disabled selected>Selecciona una marca</option>
              <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="category_id">Categoría</label>
            <select id="category_id" formControlName="category_id" class="form-control">
              <option value="" disabled selected>Selecciona una categoría</option>
              <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="price">Precio</label>
          <input id="price" formControlName="price" type="number" class="form-control" />
        </div>
        <div class="form-group">
          <label for="available_sizes">Tamaños Disponibles</label>
          <input id="available_sizes" formControlName="available_sizes_string" class="form-control" placeholder="Ingresa los tamaños del Producto (separado por comas)." />
        </div>
        <div class="form-group">
          <label for="colors">Colores</label>
          <div class="color-circles">
            <div
              *ngFor="let color of colors"
              class="color-circle"
              [ngStyle]="{'background-color': color.hex_code}"
              (click)="toggleColorSelection(color)">
              <span *ngIf="isColorSelected(color)" class="checkmark">✔</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="gallery">Galería de Imágenes</label>
          <div *ngFor="let color of selectedColors">
            <div class="gallery-drop-zone" (click)="openFileBrowser(color)" (drop)="onDrop($event, color)" (dragover)="onDragOver($event)">
              <div *ngIf="!galleryPreviews[color.id] || galleryPreviews[color.id].length === 0">
                Selecciona imágenes para el color {{ color.name }}
              </div>
              <div class="gallery-preview">
                <div *ngFor="let preview of galleryPreviews[color.id]" class="image-preview" (click)="$event.stopPropagation()">
                  <img [src]="preview.src" alt="Gallery Image" />
                  <div class="overlay" (click)="$event.stopPropagation()">
                    <button type="button" (click)="removeImage(preview, color, $event)" class="btn delete-btn"><i class="fas fa-trash"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <input type="file" id="galleryInput" (change)="onGalleryFileChange($event)" multiple class="form-control mt-2" style="display: none;" />
        <div class="button-group">
          <button type="submit" class="btn btn-primary">{{ productId ? 'Actualizar' : 'Crear' }}</button>
          <a routerLink="/products" class="btn btn-danger">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>
