.latest-orders {
  margin-top: 2rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #555;
    font-family: var(--fuentePrincipal);
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 1rem;

      .order-info {
        h4 {
          margin: 0;
          font-size: 1rem;
          color: #333;
          font-family: var(--fuentePrincipal);
        }

        p {
          margin: 0;
          color: #3498db;
        }
      }
    }
  }
}
