<div class="dashboard">
  <h2>Dashboard</h2>
  <div class="statistics">
    <div class="stat-item">
      <h3>Marcas</h3>
      <p>{{ statistics.brands }}</p>
    </div>
    <div class="stat-item">
      <h3>Categorías</h3>
      <p>{{ statistics.categories }}</p>
    </div>
    <div class="stat-item">
      <h3>Productos</h3>
      <p>{{ statistics.products }}</p>
    </div>
  </div>
  <app-sales-chart></app-sales-chart>
  <app-latest-products></app-latest-products>
  <app-latest-orders></app-latest-orders>
  <app-notifications></app-notifications>
</div>
